node_modules/
.env

./uploads/hospitals/**.jpg
./uploads/hospitals/**.png
./uploads/hospitals/**.gif

./uploads/doctors/**.jpg
./uploads/doctors/**.png
./uploads/doctors/**.gif

./uploads/users/**.jpg
./uploads/users/**.png
./uploads/users/**.gif
